* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======= Common Css ======= */
body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 16px;
}

button {
  border: none;
}

/* ======= Header Section ======= */

header {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  padding-top: 135px;
  padding-bottom: 86px;
}
.container {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left {
  width: 485px;
}

.header-left h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}

.header-left button {
  padding: 10px 24px;
  margin-top: 27px;
  background: #e02c6d;
}

.header-left button a {
  margin-right: 12px;
  color: #ffffff;
}

.header-left button i {
  font-size: 16px;
  color: #ffffff;
}

.header-right {
  width: 556px;
  margin-left: 102px;
}

.header-right img {
}

/* ======= Players Section ======= */

.players {
  width: 1050px;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.player {
  padding: 15px 15px 33px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player h3 {
  font-size: 28px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #18191f;
}

.player p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}

/* ======= Footer Section ======= */
.footer-wrap {
  width: 483px;
  margin: 140px auto 70px auto;
  text-align: center;
}
.social {
  margin-bottom: 20px;
}
.social span {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #e7e7e8;
  border-radius: 50%;
  margin-right: 14px;
}

.social span:nth-child(4) {
  margin-right: 0;
}

.social span i {
  font-size: 17px;
  padding-top: 8.5px;
  color: #969bab;
}

.footer-wrap p {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* ======= Media Queries ======= */

@media only screen and (max-width: 688px) {
  /* ======= Header Section ======= */

  header {
    padding-top: 112px;
    padding-bottom: 62px;
  }
  .container {
    width: 100%;
    flex-wrap: wrap;
  }
  .header-left {
    width: 100%;
    padding: 0 66px 0 15px;
  }
  .header-left h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .header-left button {
    margin-top: 30px;
  }
  .header-right {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding: 0 15px;
  }

  /* ======= Players Section ======= */
  .players {
    width: 100%;
    margin: 47px auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .player {
    margin: 0 15px;
  }

  .footer-wrap {
    width: 236px;
    margin: 50px auto;
  }
}
